
#root {
  height: 100%;
  width: 100%;
  padding: 0;
}

.top-nav {
  position: fixed;
  color: white;
  z-index: 50;
  background-color: var(--primary-color);
}

.top-nav a {
  color: white;
}

.navbar-brand {
  color: white;
}

.nav-link-container {
  cursor: pointer;
}

.nav-link-container:hover {
  background-color: black;
  color: var(--tertiary-color) !important;
}

.logo {
  background-color: var(--primary-color);
}




/* MAIN */

#main section {
  padding: 0 2rem;
}

.section-container {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.off-section {
  background-color: white;
  color: black;
  background-color: var(--secondary-color);
}

.footer-section{
  background-color: black;
  color: white;
  border: 0;
}






/* CONTACT */



/* FOOTER */

.house-img {
  height: 150px;
  width: 130px;
}

.footer-link {
  color: white;
  height: 30px;
}

.footer-link:hover{
  color: var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
}

@media (width < 800px)  {
  .showcase-container {
    display: flex;
    flex-direction: column;
  }

  #footer {
    
  }
}